.Search-input {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 99% 4px; 
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding: 8px 10px 6px 20px;
}

.Search-input-wrapper .error {
    color: red;
    font-size: 12px !important;
    margin-top: -10px;
}
